*.iml
.gradle
/gradleAppSetting
local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin

node_modules/

/app/build
/app/google-services.json
/app/src/google-services.json

*.apk
*.aab
*.jks
*.keystore

/topbooks-f546d-firebase-adminsdk-fbsvc-ae4d6a4c4f.json
/users.json
/verificar_email.js
/package.json
/package-lock.json

nuevos_diseños/
